@font-face {
  font-family: "pixelLofi";
  src: url("../../assets/fonts/PixelLofi.otf");
}

@font-face {
  font-family: "simplePixel";
  src: url("../../assets/fonts/PixelSimpel.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font
  color: var(--color-text);
  font-family: simplePixel;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 3px var(--color-text-shadow);
}
