* {
  --header-height: 80px;

  // colors
  --color-black: #040c06;
  --color-green-300: rgb(34, 218, 38, 1);
  --color-green-200: rgb(34, 218, 38, 0.8);
  --color-green-100: rgb(34, 218, 38, 0.9);
  --color-white: #eeffcc;

  --color-background: var(--color-black);
  --color-text: var(--color-green-100);
  --color-text-shadow: var(--color-white);

  --color-btn-background: var(--color-green-100);
  --color-btn-background--hover: var(--color-black);
  --color-btn-text: var(--color-black);
  --color-btn-text--hover: var(--color-green-100);
  --color-btn-border--hover: var(--color-green-100);

  --color-link: var(--color-green-200);
  --color-link--hover: var(--color-green-300);
}
