button {
  --border-size: 4px;

  background-color: var(--color-btn-background);
  color: var(--color-btn-text);
  outline: none;
  padding: 5px 15px;
  border: var(--border-size) solid transparent;
  opacity: 0.9;
  text-shadow: 1px 1px 2px var(--color-btn-text-shadow);

  &:hover {
    opacity: 1;
    background-color: var(--color-btn-background--hover);
    color: var(--color-btn-text--hover);
    border: var(--border-size) dashed var(--color-btn-border--hover);
  }
}
